// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.counters {
    margin-right: 30px;
    font-size: 10px;
    text-align: center;

    .vote,
    .answer {
        width: 60px;
        height: 60px;
    }
}